@media (min-width: 1440px) {
  img.pic.selfie {
    transform: translateX(-130px);
  }

  .screen img.pic.selfie {
    animation: moveAndRotate 4s infinite alternate ease-in-out;
  }

  @keyframes moveAndRotate {
    0% {
      transform: translateX(0) scale(1) rotate(0deg);
    }
    100% {
      transform: translateX(-81px) scale(1.4) rotate(-16.2deg);
    }
  }

  .screen img.resume {
    animation: rotateAndMove 4s infinite alternate ease-in-out;
  }

  @keyframes rotateAndMove {
    0% {
      transform: rotate(0deg) translateY(0) translateX(0) scale(1);
    }
    100% {
      transform: rotate(27deg) translateY(31.8px) translateX(-16px) scale(1.7);
    }
  }

  a.case > img {
    filter: saturate(0.5) opacity(0.5);
  }

  a.case:hover > img {
    filter: saturate(1) opacity(1);
    transform: scale(1.2);
    box-shadow: 4px 4px 20px black;
    position: relative;
    z-index: 1;
  }
}
