@media (min-width: 1440px) {
  img.pic.selfie {
    transform: translateX(-130px);
  }

  .screen:hover img.pic.selfie {
    transform: translateX(-30px) scale(1.4) rotate(-16.2deg);
  }

  .screen:hover img.resume {
    transform: rotate(27deg) translateY(31.8px) translateX(-16px) scale(1.7);
  }

  a.case > img {
    filter: saturate(0.5) opacity(0.5);
  }

  a.case:hover > img {
    filter: saturate(1) opacity(1);
    transform: scale(1.2);
    box-shadow: 4px 4px 20px black;
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 425px) {
}
